{% extends 'base.html.twig' %}

{% block title %}Log In{% endblock %}

{% block body %}
<form method="post" class="w-50 mx-auto">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    
    <div class="form-floating mb-3">
        <input name="email" type="email" value="{{ last_username }}" class="form-control" id="floatingInput" placeholder="Email address" autocomplete="email" required autofocus>
        <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
        <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password" autocomplete="current-password" required>
        <label for="floatingPassword">Password</label>
    </div>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    <div class="d-flex justify-content-between">
        <div class="form-check form-switch mt-3">
            <input class="form-check-input" name="_remember_me" type="checkbox" id="flexSwitchCheckDefault" >
            <label class="form-check-label" for="flexSwitchCheckDefault">Remember me</label>
        </div>

        <div class="nav-item">
            <a class="nav-link" href="/forget/passowrd">Forget Password</a>
        </div>
    </div>
   

    <div class="d-grid gap-2 py-2">
        <button class="btn btn-lg btn-primary" type="submit">
            Sign in
        </button>
    </div>
</form>
{% endblock %}
