{% extends 'base.html.twig' %}

{% block title %}Car Rentl{% endblock %}

{% block body %}
    <div class="w-75 mx-auto">
        {% include 'car/rent.html.twig' %}
    </div>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="hidden" name="id" value="{{ car.id }}" />
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
{% endblock %}