{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}


{{ form_start(registrationForm, {'attr': {'class': 'row g-3 needs-validation w-75 mx-auto my-5 shadow-lg px-5 pb-5'}}) }}
    <h2 class="text-center text-decoration-underline">Sign Up</h2>
    <div class="col-md-4">
        {{ form_row(registrationForm.firstName, {'attr': {'class': 'form-control', id: 'inputFirstName'}}) }}
    </div>
        <div class="col-md-4">
            {{ form_row(registrationForm.lastName, {'attr': {'class': 'form-control', id: 'inputLastName'}}) }}
        </div>
        <div class="col-md-4">
            {{ form_row(registrationForm.email, {'attr': {'class': 'form-control', id: 'validationCustomUsername'}}) }}
        </div>
        <div class="col-md-6">
            {{ form_row(registrationForm.phoneNumber, {'attr': {'class': 'form-control', id: 'phoneNumber'}}) }}
        </div>
        <div class="col-md-6">
            {{ form_row(registrationForm.plainPassword, {'attr': {'class': 'form-control', id: 'plainPassword'}}) }}
        </div>
        <div class="col-md-4">
            {{ form_row(registrationForm.gender, {'attr': {'class': 'form-select', id: 'gender'}}) }}
        </div>
        <div class="col-md-4">
            {{ form_row(registrationForm.avatar, {'attr': {'class': 'custom-file-input form-control', id: 'avatar'}}) }}
        </div>
        <div class="col-md-4">
            <div class="form-check">
                <label class="form-check-label" for="invalidCheck">
                </label>
                {{ form_row(registrationForm.agreeTerms, {'attr': {'class': 'form-check-input', id: 'invalidCheck'}}) }}
            </div>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary form-control">Sign Up</button>
        </div>

        <div class="text-center">
            <span>If you already have an account, click</span>
            <a class="text-decoration-none" href="{{ path('app_login') }}">Sign In</a>
        </div>
{{ form_end(registrationForm) }}

{% endblock %}
