<div class="clearfix">
  <img src="/images/cars/{{ car.image }}" class="col-md-6 float-md-end mb-3 ms-md-3" alt="{{ car.name }}">

  <h3 class="text-center">
    {{ car.name }}
  </h3>
  <p> 
  {{ car.information|striptags }}
  </p>

  <p>
    {{ car.stock }}
  </p>
  
</div>
